.block-control{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 55px;
  padding: 0 10px;
  position: fixed;
  max-width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background: #FFFFFF;
  box-shadow: 0px -5px 5px rgba(9, 194, 194, 0.08);
  .control-item{
    display: inline-flex;
    justify-content: center;
    transition: all .2s;
    position: relative;
    width: 64px;
    .center-item{
      position: absolute;
      bottom: -15px;
      display: none;
      align-items: center;
      justify-content: center;
      opacity: 0;
      width: 0;
      height: 0;
      left: calc(50% - 32px);
      right: calc(50% - 32px);
      background: #09C2C2;
      border-radius: 50%;
      box-shadow: 0px -4px 5px rgba(9, 194, 194, 0.15);
      z-index: -1;
    }
    &.center{
      .center-item{
        display: flex;
        animation: active .6s ease-in-out .1s forwards;
        animation-direction: normal;
      }
      .decore{
        position: absolute;
        top: -22px;
        opacity: 0;
        background: #fff;
        border-radius: 50%;
        width: 74px;
        height: 74px;
        box-shadow: 0px -5px 5px rgba(9, 194, 194, 0.08);
        animation: decor .2s ease-in-out .4s forwards;
        z-index: -2;
      }
      svg{
        fill: #fff;
        transform: translateY(-5px);
        transition: all .2s;
      }
      .svg{
        fill: #fff;
        animation: svgg .4s ease-in-out 0s forwards;
      }
    }

  }
}

@keyframes svgg {
  0%{
    fill: #000;
  }
  100%{
    fill: #fff;
  }
}
@keyframes decor {
  0%{
    top: 0;
  }
  100%{
    top: -32px;
    opacity: 1;
  }
}
@keyframes active {
  0%{
    transform: translate(0, 40px);
    height: 0;
    opacity: 0;
    background: rgba(9, 194, 194, 0.25);
  }
  20%{
    width: 10px;
    height: 30px;
    left: calc(50% - 5px);
    background: #09C2C2;
  }
  30%{
    width: 10px;
    height: 40px;
    left: calc(50% - 5px);
  }
  40%{
    width: 22px;
    height: 42px;
    left: calc(50% - 11px);
  }
  50%{
    width: 22px;
    height: 42px;
    left: calc(50% - 11px);
  }
  60%{
    width: 30px;
    height: 50px;
    left: calc(50% - 15px);
  }
  70%{
    width: 40px;
    height: 70px;
    left: calc(50% - 20px);
  }
  80%{
    height: 70px;
    width: 70px;
    left: -3px;
  }
  90%{
    height: 58px;
    width: 58px;
    left: 3px;
  }
  100%{
    transform: translate(0px, 0);
    height: 64px;
    width: 64px;
    left: 0;
    right: 0;
    opacity: 1;
    background: #09C2C2;
  }
}
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media(min-width: 768px){
  .block-control{
    max-width: 768px;
    left: calc(50% - 384px);
  }
}

@media (min-height: 811px) {
  .block-control{
    height: 80px;
    align-items: flex-start;
    padding-top: 20px;
  }
}
