.app-container{
  max-width: 768px;
  margin: 0 auto;
  padding: 12px 15px 50px 15px;
}
.back-img{
  position: absolute;
  top: -15px;
  left: -15px;
  width: calc(100% + 30px);
  height: 190px;
  z-index: -1;
  background-size: cover;
  .img{
    width: 100%;
    height: 100%;
    img{
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
    }
  }
  &:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.85);
  }
}
.main-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10px;
  margin-top: 20px;
  .city{
    position: relative;
    height: 40px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid #F3F3F3;
    box-sizing: border-box;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.05);
    .chose-city{
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      padding:0 16px;
      height: 100%;
      background: $main-color;
      border-radius: 15px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      svg{
        margin-right: 8px;
      }
    }
    .search{
      position: absolute;
      right: 10px;
      top: 9px;
      z-index: 2;
    }
  }
  .basket{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .count{
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      right: -4px;
      top: 12px;
      min-width: 16px;
      height: 16px;
      background: $main-color;
      color: #fff;
      line-height: normal;
    }
  }
}
.slider{
  margin: 10px 0;
  &-item{
    border-radius: 15px;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      max-height: 175px;
      border-radius: 15px;
    }
  }
}

.category{
  position: relative;
  padding: 10px 0 10px;
  z-index: 2;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: -15px;
    height: 100%;
    width: calc(100% + 30px);
    background: rgba(9, 194, 194, 0.05);
    z-index: -1;
  }
  &-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3{
      margin: 0;
      padding: 0;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
    }
    a{
      color: $main-color;
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      text-decoration: underline;
    }
  }
  &-box{
    width: calc(100% + 15px);
    padding: 10px 0 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    overflow-y: hidden;
    overflow-x: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar { width: 0 !important }
    &-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 12px;
      max-width: 90px;
      .title{
        text-align: center;
        padding: 5px 4px;
      }
      .svg{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        background: #fff;
        border: 1px solid #F3F3F3;
        box-shadow: 0 2px 3px rgba(9, 194, 194, 0.1);
        //padding: 5px;
        overflow: hidden;
        .img{
          position: relative;
          min-width: 60px;
          height: 60px;
          z-index: 2;
          background: #fff;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.brandy{
    position: relative;
    padding: 10px 0 10px;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: -15px;
      height: 100%;
      width: calc(100% + 30px);
      background: rgba(9, 194, 194, 0.05);
      z-index: -1;
    }
    &-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      h3{
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
      }
      a{
        color: $main-color;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        text-decoration: underline;
      }
    }
    &-box{
      width: calc(100% + 15px);
      padding: 10px 0 0;
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
      overflow-y: hidden;
      overflow-x: auto;
      overflow: -moz-scrollbars-none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar { width: 0 !important }
      &-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
        max-width: 90px;
        .title{
          text-align: center;
          padding: 5px 4px;
        }
        .svg{
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          height: 60px;
          width: 60px;
          background: #fff;
          border: 1px solid #F3F3F3;
          box-shadow: 0 2px 3px rgba(9, 194, 194, 0.1);
          padding: 5px;
          overflow: hidden;
          .img{
            position: relative;
            min-width: 60px;
            height: 60px;
            z-index: 2;
            background: #fff;
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
}

.brandy{
  margin-top: 10px;
  margin-bottom: 10px;
  &:before{
    background: rgba(194, 131, 9, 0.06);
  }
}

.brandy-svg{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background: #fff;
  border: 1px solid #F3F3F3;
  box-shadow: 0 2px 3px rgba(9, 194, 194, 0.1);
  overflow: hidden;
  .img{
    width: 100%;
    height: 100%;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.popular-section{
  //margin: 10px 0 10px;
  margin-top: 5px;
  position: relative;
  &-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    &.fixed{
      position: fixed;
      top: 80px;
      left: 0;
      width: 100%;
      padding: 20px 0 7px;
      z-index: 4;
      background: #fff;
      max-width: 738px;
    }
    button{
      width: 50%;
      color: #BBBBBB;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      background: #fff;
      border: none;
      position: relative;
      padding: 0;
      margin: 0;
      cursor: pointer;
      span{
        color: #BBBBBB;
      }
      &:before{
        content: '';
        display: block;
        position: absolute;
        bottom: -5px;
        height: 2px;
        width: 100%;
        background: #BBBBBB;
      }
    }
    .active{
      font-weight: bold;
      color: $main-color;
      span{
        color: $main-color;
      }
      &:before {
        background: $main-color;
      }
    }
  }
}


//other header

.other-header{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 768px;
  padding-top: 15px;
  height: 80px;
  background: linear-gradient(180deg, #42CFCF 0%, #29909E 100%);
  border-radius: 0 0 15px 15px;
  z-index: 4;
  .back{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8px;
    position: absolute;
    left: 0;
    padding: 48px 15px 25px;
    top: 4px;
  }
  h2{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width:100%;
    max-width: calc(100% - 100px);
    margin-bottom: 5px;
  }
}
@media (min-width: 768px){
  .category, .brandy{
    padding: 10px 0 10px;
  }
  .block-control{
    left: calc(50% - 384px);
    max-width: 768px;
  }
  .popular-section{
    &-button {
      &.fixed {
        left: calc(50% - 368px);
      }
    }
  }
  .other-header{
    left: calc(50% - 384px);
  }
}
.other-pages{
  padding: 85px 0 20px;
}
.city{
  &-box{
    display: flex;
    flex-direction: column;
  }
  &-item{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    img, svg{
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
    .title{
      font-size: 14px;
      line-height: 17px;
    }
  }
}

//buttons

.main-button-bold{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  padding: 0 40px;
  color: $main-color;
  background: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  border-radius: 15px;
  margin: 0 auto;
  border: none;
  text-transform: uppercase;
  &.color{
    color: #fff;
    background: $main-color;
  }
  &.remove{
    color: #E21B1B;
    background: #fff;
    border: 1px solid #E21B1B;
  }
}

.main-button{
  @extend .main-button-bold;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

//sign

.sign{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(204.79deg, #42CFCF 0%, #29909E 100%);
  z-index: 10;
  padding: 15px;
  &-content{
    margin-top: 80px;
    h3{
      color: #fff;
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      text-align: center;
      margin-bottom: 40px;
    }
    p{
      text-align: center;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 20px;
      color: #fff;
    }
    form, .form{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      input{
        width: 100%;
        max-width: 195px;
        margin: 0 auto 25px;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #fff;
        color: #fff;
        font-size: 18px;
        background: transparent;
        padding: 3px 5px;
        &::placeholder {
          color: rgba(255, 255, 255, 0.5);
          opacity: 1;

          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
        }

        &:-ms-input-placeholder {
          color: rgba(255, 255, 255, 0.5);

          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
        }

        &::-ms-input-placeholder {
          color: rgba(255, 255, 255, 0.5);

          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
        }
      }
      button{
        margin: 10px auto;
      }
    }
    .buttons{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      .continue{
        margin-bottom: 10px;
      }
      .no-color{
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
      }
      .text-buttons{
        display: block;
        color: rgba(255, 255, 255, 0.51);
        margin: 15px auto;
      }
      .text{
      }
    }
  }
}
@media (min-width: 375px) {
  .sign{
    &-content{
      margin-top: 150px;
    }
  }
}
.back-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 100%;
  height: 40px;
  text-align: center;
  color: #1C1C1C;
  text-transform: uppercase;
  border-radius: 15px;
  width: 200px;
  margin: 10px auto;
  border: 1px solid #09C2C2;
  background: #fff;
}

button{
  &.minus, &.plus{
    width: 36px;
    height: 36px;
    border: none;
    background: transparent;
    cursor: pointer;
    background: url("./assets/images/minus.svg") no-repeat;
    background-size: cover;
  }
  &.plus{
    background: url("./assets/images/plus.svg") no-repeat;
    background-size: cover;
  }
}

button:active{
  outline: none;
}

.status{
  .lamp{
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin-right: 10px;
    &.active{
      background: #009688;
    }
    &.confirm{
      background: #F4A100;
    }
    &.edit{
      background: #F4A100;
    }
    &.done{
      background: #009688;
    }
    &.remove{
      background: #E21B1B;
    }
  }
}
.mat-chip-file{
  display: inline-flex;
  align-items: center;
  max-width: 186px;
  padding: 5px;
  border: 1px solid #B8C5D3;
  border-radius: 15px;
  color: #748AA1;
  background: #fff!important;
  .content{
    font-size: 16px;
    line-height: 20px;
    max-width: 140px;
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding: 0 5px; /* Поля */
    text-overflow: ellipsis;
  }
  .remove-mat-chip{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
    border: 1px solid #E21B1B;
    width: 17px;
    height: 17px;
    padding: 0;
    background: #fff;
    cursor: pointer;
    &:before{
      content: '';
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      height: 5px;
      width: 5px;
      color: #E21B1B;
      background: url("./assets/images/remove-chip.svg") no-repeat;
      background-size: cover;
    }
  }
}
.brandy-box-item.active .svg{
  border: 2px solid #f39a05;
}
.brandy-box-item.active .img{
  border: 4px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}
.category-box-item.active .svg{
  border: 2px solid #4aa9e6;
  border-radius: 50%;
}


@media (min-height: 800px) {
  .profile-header{
    height: 110px!important;
    padding: 40px 15px 0!important;
  }
}
