.product-item-title-shop{
  display: flex;
  align-items: center;
  padding: 0 5px 10px;
  border-bottom: 1px solid #E4E4E4;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  svg{
    margin-right: 5px;
  }
  .arrow{
    position: absolute;
    right: 0;
    top: calc(50% - 11px);
  }
}

.product-item{
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.03);
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 15px;
  &-box{
    display: flex;
    align-items: flex-start;
    position: relative;
    .img{
      width: 100%;
      max-width: 100px;
      height: 100px;
      border-radius: 15px;
      margin-right: 10px;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        border-radius: 15px;
        object-fit: cover;
      }
    }
    .block-info{
      display: flex;
      flex-wrap: wrap;
      min-height: 100px;
      flex-direction: column;
      width: 100%;
      justify-content: space-between;
      .title{
        width: 100%;
        margin-bottom: 10px;
      }
      .count-package{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: auto;
        .price-element{
          display: flex;
          flex-direction: column;
          .price-item{
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
          }
          .new-price{
            display: none;
          }
        }
        .sale{
          .price-item{
            text-decoration-line: line-through;
            font-size: 12px;
            line-height: 15px;
          }
          .new-price{
            display: block;
            color: #FF3131;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
          }
        }
        .count{
          display: flex;
          align-items: center;
          margin: 0 0 0 auto;
          &-minus, &-plus{
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            border: 1px solid #F3F3F3;
            box-sizing: border-box;
            box-shadow: 0 4px 3px rgba(0, 0, 0, 0.03);
            border-radius: 50%;
            height: 21px;
            width: 21px;
            max-width: 21px;
            max-height: 21px;
            cursor: pointer;
          }
          &-count{
            font-size: 15px;
            min-width: 24px;
            text-align: center;
            margin-top: -7px;
          }
        }
      }
      .price{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .basket-buy{
          display: flex;
          align-items: center;
          justify-content: center;
          background: #fff;
          border: 1px solid #09C2C2;
          box-sizing: border-box;
          box-shadow: 0 4px 3px rgba(0, 0, 0, 0.03);
          border-radius: 15px;
          padding: 4px 20px;
          font-size: 14px;
          width: 150px;
          margin-left: auto;
          color: #09C2C2;
          .basket-svg{
            fill: #09C2C2;
          }
          svg{
            margin-left: 10px;
          }
          &.active{
            color: #fff;
            background: #09C2C2;
            pointer-events: auto;
            cursor: pointer;
            .basket-svg{
              fill: #fff;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 375px) {
  .product-item {
    &-box {
      .img {
        max-width: 126px;
        height: 126px;
      }
      .block-info{
        min-height: 126px;
        .price{
          .basket-buy{
            min-width: 170px;
          }
        }
      }
    }
  }
}
.img-company{
  border-radius: 50%;
  overflow: hidden;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
