.category-item{
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  box-shadow: 0 2px 3px rgba(9, 194, 194, 0.1);
  border-radius: 15px;
  height: 60px;
  padding: 0 15px;
  .img{
    margin-right: 10px;
    border-radius: 50%;
    max-width: 45px;
    width: 100%;
    height: 45px;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .name{
    font-size: 15px;
  }

}

::ng-deep .city-img{
  img{
    object-fit: cover;
  }
}

