<div class="other-header" *ngIf="language">
  <app-back-btn></app-back-btn>
  <h2>
    {{translate.title[language]}}
  </h2>
  <app-basket-item></app-basket-item>
</div>
<div class="other-pages" *ngIf="me">
  <div class="popular-section">
    <div class="popular-section-button">
      <button [class.active]="toggleMain" (click)="toggleMain = true">
        {{translate.provider[language]}} (<span *ngIf="me.favoriteCompany">{{ me.favoriteCompany.length || 0 }}</span>)
      </button>
      <button [class.active]="!toggleMain" (click)="toggleMain = false">
        {{translate.goods[language]}} (<span *ngIf="me.favoriteProduct">{{ me.favoriteProduct.length || 0 }}</span>)
      </button>
    </div>
    <div class="popular-section-box" *ngIf="toggleMain">
      <p class="p-not" *ngIf="me.favoriteCompany.length === 0">
        {{translate.emptyProviders[language]}}
      </p>
      <ng-container *ngIf="favoriteCompany.length > 0">
        <div class="wrap-favorite" *ngFor="let item of favoriteCompany">
          <app-provider-item [isTop]="false" [data]="item"></app-provider-item>
          <div class="favorite-disable" [class.true]="item.verify"></div>
        </div>
      </ng-container>
    </div>
    <div class="popular-section-box" *ngIf="!toggleMain">
      <p class="p-not" *ngIf="me.favoriteProduct.length === 0">
        {{translate.emptyGoods[language]}}
      </p>
      <ng-container *ngIf="favoriteProduct.length > 0">
        <div class="wrap-favorite" *ngFor="let item of favoriteProduct">
          <app-product-item [data]="item" *ngFor="let item of favoriteProduct"></app-product-item>
          <div class="favorite-disable" [class.true]="item.companyOwner.verify"></div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
